body {
    margin: 0;
    padding: 0;
}
header {
    max-width: 100%;
    height: 80%;
    padding: 1em;
}
nav {
    margin: 2em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0 0 20px #fff;
    align-items: baseline;
    }
.a_list {
    text-decoration: none;
    color: whitesmoke;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 0 0 20px #fff;
    background-color: rgb(241, 57, 57);
    border-radius: 1em;
    padding: 0.7em;
    margin: 0.5em;
}
.submenu {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(241, 57, 57);
    margin: 2em;
}
.indice {
    text-decoration: none;
    color: rgb(241, 57, 57);
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 0 0 20px #fff;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

input{
    font-size: 4em;
    padding: 1em;   
    border: none;
}
.changi_logo {
    width: 20%;
    height: 20%;
}
.ul_serch{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
h1 {
    font-size: 10em;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    text-align: center;
}